/* .home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px inset rgb(249, 171, 120);
  border-radius: 77%;
  height: 77vh;
  width: 77vw;
  padding: 11px;
  background-color: #05958c24;
  overflow: hidden;

  ul a {
    text-decoration: none;
    color: #004f4f;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  ul li {
    background-color: rgba(0, 255, 255, 0.343);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: -3px 4px 8px rgba(240, 121, 9, 0.1);
  }




/* Book view styling */

.book_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #723bb1;
  cursor: pointer;
  text-align: center;
  background-color: linear-gradient(135deg, #723bb1, #a967d6, #f9ab78);
}

.book_image {
  width: 70vw;
  height: 80vh;
  transition: transform 0.3s ease;
  border-radius: 80%;
}

.book_image:hover {
  transform: scale(1.1);
}

.book_container h1 {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

/* Home view styling */
.home_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px inset rgb(249, 171, 120);
  border-radius: 50%;
  height: 88vh;
  width: 55vw;
  padding-top: 11px;
  background: linear-gradient(135deg, #723bb1, #a967d6, #f9ab78);
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

ul a:hover {
  color: #ff7f50;
  transform: scale(1.05);
}

ul li {
  background-color: rgba(0, 255, 255, 0.343);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: -3px 4px 8px rgba(240, 121, 9, 0.1);
  margin: 10px 0;
  transition: transform 0.3s ease;
}

ul li img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
}


ul li:hover {
  transform: translateY(-5px);
}

sub {
  margin-top: 20px;
  font-style: italic;
  color: rgb(249, 171, 120)
}


@media (max-width: 768px) {
  .home_container {
    height: 70vh;
    width: 90vw;
    border-radius: 40%;
  }

  ul li {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

/* ul {
    flex-direction: column;
    gap: 15px;
  }

  ul a {
    font-size: 1rem;
  }
} */